.montos {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.cajon {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    .caja-i {
        width:          27%; 
        max-width:      27%;
        text-align:     right;
        font-style:     italic;
        font-size:      110%;
        margin:         10px 15px 10px 2px;
        height:         100%;
        vertical-align: middle !important;
    }
    .caja-d {
        width:      73%; /*490px; */
        max-width:  73%; /*550px; */
        font-size:  75%;
        text-align: center;
        font-style: italic;        
    }
}

.der {
    text-align: right;
    font-style: italic;
}
.der_ama {
    text-align: right;
    font-style: italic;
    color: yellow;
}
.zen {
    text-align: center;
    vertical-align: middle;
    font-style: italic;
}
.zen_ama {
    text-align: center;
    vertical-align: middle;
    font-style: italic;
    color: yellow;
}
.zen_green {
    text-align: center;
    font-style: italic;
    color: yellow;
}
.zen_red {
    text-align: center;
    font-style: italic;
    color: red;
}

.keven {
    background-color: #383a3e;
}
.kodd {
    background-color: #28292b;
}

