
<div class="cajon" [ngClass]="( fila % 2 == 0) ? 'kodd' : 'keven' ">

  <div class="caja-i">
    <ion-label>{{ concepto }}</ion-label>
  </div>

  <!-- headers -->
  <div class="caja-d" *ngIf=" fila < 1 ">
      <ion-grid no-padding>
        <ion-row>
          <ion-col class="der" size="5"  >{{ informacion[0] }}</ion-col>
          <ion-col class="der" size="3.5"><ion-label text-right>{{ informacion[1] }}</ion-label></ion-col>
          <ion-col class="der" size="3.4"><ion-label text-right>{{ informacion[2] }}</ion-label></ion-col>
        </ion-row>
      </ion-grid>
  </div>

  <div class="caja-d" *ngIf=" fila > 0 ">
      <ion-grid no-padding>
        <ion-row  *ngFor="let dato of informacion">
          <ion-col class="zen" size="5">{{ dato.cuenta }}</ion-col>

          <ion-col *ngIf="dato.numero === true " class="der" size="3.5"><ion-label text-right>{{ dato.real_anterior | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col *ngIf="dato.numero === true " class="der" size="3.4"><ion-label text-right>{{ dato.real_actual   | number:"1.0-0" }}</ion-label></ion-col>

          <ion-col *ngIf="dato.porcent === true " class="der" size="3.5"><ion-label text-right>{{ dato.real_anterior | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col *ngIf="dato.porcent === true " class="der" size="3.4"><ion-label text-right>{{ dato.real_actual   | number:"1.2-2" }}%</ion-label></ion-col>

        </ion-row>
      </ion-grid>
  </div>

</div>
