<app-header titulo="Reportes Disponibles"></app-header>

<ion-content color="dark">

    <ion-list >

       <ion-item-group >
           <ion-item-divider color="dark">
               <ion-label>Reportes</ion-label>
           </ion-item-divider>
           <ion-item   *ngFor="let reporte of reportes"
                       [routerLink]="reporte.redirectTo"
                       color="dark" 
                       lines="none"
                       detail >
               <ion-icon slot="start" [name]="reporte.icono"></ion-icon>
               <ion-label>{{ reporte.nombre }}</ion-label>
           </ion-item>
        </ion-item-group>

        <ion-item color="dark" >
            <ion-button (click)=" abierto = !abierto " expand="full" color="dark" >            
                <h4>Indicadores</h4>
            </ion-button>
            <ion-icon slot="end" size="small" name="arrow-forward"></ion-icon>
        </ion-item>

        <ion-item-group *ngIf=" abierto ">
            <ion-item   *ngFor="let indicador of indicadores"
                        (click)="indicadorClick( indicador )"
                        color="dark" 
                        lines="none"
                        detail >
                <ion-icon slot="start" [name]="indicador.icono"></ion-icon>
                <ion-label>{{ indicador.nombre }}</ion-label>
            </ion-item>
        </ion-item-group>
    
    
    </ion-list>

</ion-content>
