<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ periodo }} / {{ nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar *ngIf=" cargando " type="indeterminate"></ion-progress-bar>

  <table class="pure-table"  *ngIf=" nombre ">
      <thead>
          <tr>
          <th>#</th>
          <th>Período</th>
          <th>Valor</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let serie of series; let i = index;">
          <td>{{ i }}</td>
          <td>{{ serie.fecha | date }}</td>
          <td>{{ serie.valor | number:"1.2-2" }}</td>
          </tr>
      </tbody>
  </table>

</ion-content>

