
<ion-header no-border translucent>

  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>

    <ion-title text-center text-capitalize>Profit & Loss Statement Monthly : {{ cliente }} / {{ periodo }}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-badge *ngIf=" hayNotas ">{{ nNotas }}</ion-badge>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-button (click)="vistas( $event )"    ><ion-icon slot="icon-only" name="eye">     </ion-icon></ion-button>
      <ion-button (click)="clientesGT( $event )"><ion-icon slot="icon-only" name="pie">     </ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content padding>
   
  <ion-progress-bar *ngIf=" cargando " type="indeterminate"></ion-progress-bar>
  
  <div padding class="chart-container">
    <div id="line_curve_chart" class="chart"></div>
  </div>

  <div padding class="scroll-on">
    <ion-row [ngClass]="(1 % 2 == 0) ? 'kodd' : 'keven' ">
      <div class="izq"><ion-label class="titulo">Concepto</ion-label></div>
      <div class="der" *ngFor="let mes of meses"><ion-label class="titulo">{{ mes }}</ion-label></div>
      <div class="der"><ion-label class="titulo">Totales</ion-label></div>
    </ion-row>

    <ion-row  *ngFor="let fila of filas; let i = index;" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
      <div class="izq" ><ion-label>{{ fila.concepto }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  1 "><ion-label>{{ fila.ene | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  2 "><ion-label>{{ fila.feb | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  3 "><ion-label>{{ fila.mar | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  4 "><ion-label>{{ fila.abr | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  5 "><ion-label>{{ fila.may | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  6 "><ion-label>{{ fila.jun | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  7 "><ion-label>{{ fila.jul | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  8 "><ion-label>{{ fila.ago | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  9 "><ion-label>{{ fila.sep | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >= 10 "><ion-label>{{ fila.oct | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >= 11 "><ion-label>{{ fila.nov | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >= 12 "><ion-label>{{ fila.dic | number:"1.0-0" }}</ion-label></div>
      <div class="dertot" ><ion-label>{{ fila.total | number:"1.0-0" }}</ion-label></div>
    </ion-row>

    <ion-row  *ngFor="let total of totales; let i = index;" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
      <div class="izq" ><ion-label>{{ total.concepto }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  1 "><ion-label class="titulo">{{ total.ene | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  2 "><ion-label class="titulo">{{ total.feb | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  3 "><ion-label class="titulo">{{ total.mar | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  4 "><ion-label class="titulo">{{ total.abr | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  5 "><ion-label class="titulo">{{ total.may | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  6 "><ion-label class="titulo">{{ total.jun | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  7 "><ion-label class="titulo">{{ total.jul | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  8 "><ion-label class="titulo">{{ total.ago | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >=  9 "><ion-label class="titulo">{{ total.sep | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >= 10 "><ion-label class="titulo">{{ total.oct | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >= 11 "><ion-label class="titulo">{{ total.nov | number:"1.0-0" }}</ion-label></div>
      <div class="der" *ngIf=" mes >= 12 "><ion-label class="titulo">{{ total.dic | number:"1.0-0" }}</ion-label></div>
      <div class="dertot" ><ion-label>{{ total.total | number:"1.0-0" }}</ion-label></div>
    </ion-row>
  
  </div>
  
</ion-content>

