<ion-header no-border>

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title text-center >Márgen de Contribución {{ nombreMes }}/{{ periodo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="notas()">
        <ion-badge *ngIf=" hayNotas ">{{ nNotas }}</ion-badge>
        <ion-icon slot="icon-only" size="small" src="assets/icon/campanilla.svg"></ion-icon>
      </ion-button>
      <ion-button (click)="periodos( $event )">  <ion-icon slot="icon-only" size="small" src="assets/icon/calendario.svg"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="dark">
    <ion-segment  (ionChange)="segmentChanged($event)" [(ngModel)]="valorSegmento" mode="ios" color="primary">
      <ion-segment-button value="FAMILIA"> <ion-label>x Familias  </ion-label></ion-segment-button>
      <ion-segment-button value="SFTHOMAS"><ion-label>Thomas      </ion-label></ion-segment-button>
      <ion-segment-button value="SFSIEGEN"><ion-label>Siegen      </ion-label></ion-segment-button>
      <ion-segment-button value="CLIENTE"> <ion-label>x Clientes  </ion-label></ion-segment-button>
      <ion-segment-button value="CLTHOMAS"><ion-label>Thomas      </ion-label></ion-segment-button>
      <ion-segment-button value="CLSIEGEN"><ion-label>Siegen      </ion-label></ion-segment-button>
      <ion-segment-button value="T-TOP10"> <ion-label>TH-10       </ion-label></ion-segment-button>
      <ion-segment-button value="S-TOP10"> <ion-label>SG-10       </ion-label></ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <app-itemmg *ngIf=" valorSegmento === 'FAMILIA' || valorSegmento === 'SFTHOMAS'  || valorSegmento === 'SFSIEGEN' " [periodo]="periodo" [fila]=0   [informacion]="['Super Familia','Familia','Descripción','Vta.Comercial','Costo','Contribución','%']"> </app-itemmg> 
  <app-itemmg *ngIf=" valorSegmento === 'CLIENTE' || valorSegmento === 'CLTHOMAS'  || valorSegmento === 'CLSIEGEN' " [periodo]="periodo" [fila]=-4  [informacion]="['Cliente','Marca','Super Familia','Familia','Descripción','Vta.Comercial','Costo','Contribución','%']"> </app-itemmg> 
  <app-itemmg *ngIf=" valorSegmento === 'TOP20'  " [periodo]="periodo" [fila]=-1 [informacion]="['Código','Descripción','Cantidad','Vta.Comercial','Costo','Contribución','%','%']"> </app-itemmg> 

  <ion-progress-bar *ngIf=" cargando " type="indeterminate"></ion-progress-bar>
  
</ion-header>    
    
<ion-content color="dark" >

  <div class="cajon">

    <div class="caja-d" *ngIf=" valorSegmento === 'FAMILIA' ">
      <ion-grid no-padding>
        <ion-row *ngFor="let dato of superfam; let fila = index;" [ngClass]="( fila % 2 == 0) ? 'kodd' : 'keven' ">
          <!-- dato de superfamilia -->
          
          <ion-col size="3.0" style="text-transform: none !important; text-align: right !important;">
            <ion-button (click)="OnOff( dato )" 
                        size="small"
                        fill="clear" 
                        color="light">
                        <ion-label>{{ dato.nombre_superfam }} {{ ( (dato.super_familia==='reb'||dato.super_familia==='rep') ? '('+dato.nombre_marca+')':'' ) }}</ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="2.0" class="izq"></ion-col>
          <ion-col size="3.5" class="izq"></ion-col>
          <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label>{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
  
          <!-- datos de clientes -->
          <ion-grid no-padding *ngIf=" dato.show ">
            <ion-row *ngFor="let dato of dato.familias " >
              <ion-col size="3.0" class="der"></ion-col>
              <ion-col size="2.0" class="izq">
                  <ion-button (click)="OnOff( dato )"
                              size="small" 
                              fill="clear" 
                              color="light">{{ (dato.nombre_familia) ? dato.nombre_familia : '(' + dato.familia + ')' }}</ion-button>
              </ion-col>
              <ion-col size="3.5" class="izq"></ion-col>
              <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
              <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
              <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
              <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label>{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
  
              <!-- datos de productos -->
              <ion-grid no-padding *ngIf=" dato.show ">
                <ion-row *ngFor="let dato of dato.productos">
                  <ion-col size="2.5" class="der"></ion-col>
                  <ion-col size="1.0" class="izq"><ion-label></ion-label></ion-col>
                  <ion-col size="5.0" class="izq">
                      <ion-button (click)="inmersion( dato, 'SF' )"
                                  size="small" 
                                  fill="clear" 
                                  color="secondary">{{ dato.descripcion }}</ion-button>
                  </ion-col>
                  <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
                  <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
                  <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
                  <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
                </ion-row>

              </ion-grid>
  
            </ion-row>
  
          </ion-grid>
        
        </ion-row>

        <ion-row *ngFor="let dato of sfTotal">
          <ion-col size="3.0" class="der"><ion-label color="warning">Totales</ion-label></ion-col>
          <ion-col size="2.0" class="izq"><ion-label></ion-label></ion-col>
          <ion-col size="3.5" class="der"><ion-label></ion-label></ion-col>
          <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
        </ion-row>
        
      </ion-grid>
    </div>
    <div class="caja-d" *ngIf=" valorSegmento === 'SFTHOMAS' ">
        <ion-grid no-padding>
          <ion-row *ngFor="let dato of filasTH; let fila = index;" [ngClass]="( fila % 2 == 0) ? 'kodd' : 'keven' ">
            <ion-col size="3.0" style="text-transform: none !important; text-align: right !important;">
              <ion-button (click)="OnOff( dato )" 
                          size="small"
                          fill="clear" 
                          color="light">
                          <ion-label>{{ dato.nombre_superfam }} {{ ( (dato.super_familia==='reb'||dato.super_familia==='rep') ? '('+dato.nombre_marca+')':'' ) }}</ion-label>
              </ion-button>
            </ion-col>
            <ion-col size="2.0" class="izq"></ion-col>
            <ion-col size="3.5" class="izq"></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label>{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
    
            <!-- datos de clientes -->
            <ion-grid no-padding *ngIf=" dato.show ">
              <ion-row *ngFor="let dato of dato.familias " >
                <ion-col size="3.0" class="der"></ion-col>
                <ion-col size="2.0" class="izq">
                    <ion-button (click)="OnOff( dato )"
                                size="small" 
                                fill="clear" 
                                color="light">{{ (dato.nombre_familia) ? dato.nombre_familia : '(' + dato.familia + ')' }}</ion-button>
                </ion-col>
                <ion-col size="3.5" class="izq"></ion-col>
                <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label>{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
    
                <!-- datos de productos -->
                <ion-grid no-padding *ngIf=" dato.show ">
                  <ion-row *ngFor="let dato of dato.productos">
                    <ion-col size="2.5" class="der"></ion-col>
                    <ion-col size="1.0" class="izq"><ion-label></ion-label></ion-col>
                    <ion-col size="5.0" class="izq">
                        <ion-button (click)="inmersion( dato, 'SF' )"
                                    size="small" 
                                    fill="clear" 
                                    color="secondary">{{ dato.descripcion }}</ion-button>
                    </ion-col>
                    <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
                    <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
                    <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
                    <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
                  </ion-row>
  
                </ion-grid>
    
              </ion-row>
    
            </ion-grid>
          
          </ion-row>

          <ion-row *ngFor="let dato of sfthTotal">
            <ion-col size="3.0" class="der"><ion-label color="warning">Totales</ion-label></ion-col>
            <ion-col size="2.0" class="izq"><ion-label></ion-label></ion-col>
            <ion-col size="3.5" class="der"><ion-label></ion-label></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
          </ion-row>

        </ion-grid>
    </div>
    <div class="caja-d" *ngIf=" valorSegmento === 'SFSIEGEN' ">
        <ion-grid no-padding>
          <ion-row *ngFor="let dato of filasSG; let fila = index;" [ngClass]="( fila % 2 == 0) ? 'kodd' : 'keven' ">
            <ion-col size="3.0" style="text-transform: none !important; text-align: right !important;">
              <ion-button (click)="OnOff( dato )" 
                          size="small"
                          fill="clear" 
                          color="light">
                          <ion-label>{{ dato.nombre_superfam }} {{ ( (dato.super_familia==='reb'||dato.super_familia==='rep') ? '('+dato.nombre_marca+')':'' ) }}</ion-label>
              </ion-button>
            </ion-col>
            <ion-col size="2.0" class="izq"></ion-col>
            <ion-col size="3.5" class="izq"></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label>{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
    
            <!-- datos de clientes -->
            <ion-grid no-padding *ngIf=" dato.show ">
              <ion-row *ngFor="let dato of dato.familias " >
                <ion-col size="3.0" class="der"></ion-col>
                <ion-col size="2.0" class="izq">
                    <ion-button (click)="OnOff( dato )"
                                size="small" 
                                fill="clear" 
                                color="light">{{ (dato.nombre_familia) ? dato.nombre_familia : '(' + dato.familia + ')' }}</ion-button>
                </ion-col>
                <ion-col size="3.5" class="izq"></ion-col>
                <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label>{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label>{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
    
                <!-- datos de productos -->
                <ion-grid no-padding *ngIf=" dato.show ">
                  <ion-row *ngFor="let dato of dato.productos">
                    <ion-col size="3.0" class="der"></ion-col>
                    <ion-col size="1.0" class="izq"><ion-label></ion-label></ion-col>
                    <ion-col size="4.5" class="izq">
                        <ion-button (click)="inmersion( dato, 'SF' )"
                                    size="small" 
                                    fill="clear" 
                                    color="secondary">{{ dato.descripcion }}</ion-button>
                    </ion-col>
                    <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
                    <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
                    <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
                    <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
                  </ion-row>
  
                </ion-grid>
    
              </ion-row>
    
            </ion-grid>
          
          </ion-row>

          <ion-row *ngFor="let dato of sfsgTotal">
            <ion-col size="3.0" class="der"><ion-label color="warning">Totales</ion-label></ion-col>
            <ion-col size="2.0" class="izq"><ion-label></ion-label></ion-col>
            <ion-col size="3.5" class="der"><ion-label></ion-label></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
          </ion-row>

        </ion-grid>
    </div>

    <div class="caja-d" *ngIf=" valorSegmento === 'CLIENTE' ">
      <ion-grid no-padding>
        <ion-row *ngFor="let dato of clientes; let fila = index;" [ngClass]="( fila % 2 == 0) ? 'kodd' : 'keven' ">
          <!-- dato de superfamilia -->
          
          <ion-col size="1.5" style="text-transform: none !important; text-align: right !important;">
            <ion-button (click)="OnOff( dato )" 
                        size="small"
                        fill="clear" 
                        color="light">
                        <ion-label>{{ dato.sigla }}</ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="1.0" class="izq"></ion-col>
          <ion-col size="1.5" class="izq"></ion-col>
          <ion-col size="1.5" class="izq"></ion-col>
          <ion-col size="3.5" class="izq"></ion-col>
          <ion-col size="1.2" class="der" style="padding-top: 15px;"><ion-label>{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="1.2" class="der" style="padding-top: 15px;"><ion-label>{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="1.2" class="der" style="padding-top: 15px;"><ion-label>{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="0.6" class="der" style="padding-top: 15px;"><ion-label>{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
  
          <!-- datos de clientes -->
          <ion-grid no-padding *ngIf=" dato.show ">
            <ion-row *ngFor="let dato of dato.marcas " >
              <ion-col size="1.5" class="der"></ion-col>
              <ion-col size="1.0" class="izq">
                  <ion-button (click)="OnOff( dato )"
                              size="small" 
                              fill="clear" 
                              color="light">{{ dato.marca }}</ion-button>
              </ion-col>
              <ion-col size="1.5" class="izq"></ion-col>
              <ion-col size="1.5" class="izq"></ion-col>
              <ion-col size="3.5" class="izq"></ion-col>
              <ion-col size="1.2" class="der" style="padding-top: 15px;"><ion-label>{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
              <ion-col size="1.2" class="der" style="padding-top: 15px;"><ion-label>{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
              <ion-col size="1.2" class="der" style="padding-top: 15px;"><ion-label>{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
              <ion-col size="0.6" class="der" style="padding-top: 15px;"><ion-label>{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
  
              <!-- datos de productos -->
              <ion-grid no-padding *ngIf=" dato.show ">
                <ion-row *ngFor="let dato of dato.productos">
                  <ion-col size="2.5" class="der"></ion-col>
                  <ion-col size="1.0" class="izq"><ion-label></ion-label></ion-col>
                  <ion-col size="5.0" class="izq">
                      <ion-button (click)="inmersion( dato, 'SF' )"
                                  size="small" 
                                  fill="clear" 
                                  color="secondary">{{ dato.descripcion }}</ion-button>
                  </ion-col>
                  <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
                  <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
                  <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
                  <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label color="secondary">{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
                </ion-row>

              </ion-grid>
  
            </ion-row>
  
          </ion-grid>
        
        </ion-row>

        <ion-row *ngFor="let dato of cliTotal">
          <ion-col size="3.0" class="der"><ion-label color="warning">Totales</ion-label></ion-col>
          <ion-col size="2.0" class="izq"><ion-label></ion-label></ion-col>
          <ion-col size="3.5" class="der"><ion-label></ion-label></ion-col>
          <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.vta_neta      | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.costo         | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="1.5" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ dato.contribucion  | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col size="0.7" class="der" style="padding-top: 15px;"><ion-label color="warning">{{ (1 - (dato.costo/dato.vta_neta) )*100 | number:"1.1-1" }}%</ion-label></ion-col>
        </ion-row>
        
      </ion-grid>
    </div>
     

  </div>

</ion-content>
