
ion-grid {
    --ion-grid-columns: 15;    
    font-size: calc(12px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}

ion-grid.header, ion-grid.footer {
    ion-row {
        ion-col {
            font-weight: bold;
            font-size: 80%;
        }
    }
}

ion-list {
    overflow-x: scroll !important;
}

.header-in {
    font-size: 100%;
}
.keven {
    background-color: #e1f5fe;
    padding-bottom: 5px;
}
.kodd {
    background-color: #e6ffff;
    padding-bottom: 5px;
}
.zen {
    text-align: center;
    font-style: italic;
    font-size: 60%;
    width: 140px;
    font-weight: bold;
}
.izq {
    text-align: left;
    font-size: 60%;
    width: 140px;
    .titulo {
        font-weight: bold;
    }
}
.der {
    text-align: right;
    font-style: italic;
    font-size: 60%;
    width: 70px;
    .titulo {
        font-weight: bold;
    }
}
.grafica {
    display:block;
    margin:auto;
    width: 900px;
    height: 500px;
}
.chart-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    // margin-top: 10px;
    // margin-bottom: -20px;
    background-color: var(--ion-color-dark);
    padding-bottom: 5px;

    .chartg {
        height: 200px;
        width: 500px;
    }    
    .chartc {
        height: 200px;
        width: 700px;
    }
}
.scroll-on {
    flex-direction: row;
    overflow-x: scroll;
}

