
ion-grid {
    font-size: 100%;
    width: auto !important; 
}

.keven {
    background-color: #e7c6a6;
 }

.kodd {
    background-color: #fff4ea;
}

.srojo {
    color: #f04141 !important;
    font-weight: bold !important;
    font-size: 70%;
}
.snegro {
    color: #222428 !important;
    font-weight: bold !important;
    font-size: 70%;
}

.izq {
    text-align: left;
}
.der .der-bold {
    text-align: right;
    font-style: italic;
}
.zen {
    text-align: center;
    font-style: italic;
}


