<ion-header no-border translucent>

  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reppyl"></ion-back-button>
    </ion-buttons>

    <ion-title text-center text-capitalize>
      P&L Accumulated: {{ datosParam.sigla }} - {{ nombreMes }}/{{ datosParam.periodo }} - {{ datosParam.nombre_marca }}
    </ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="notas()">
        <ion-badge *ngIf=" hayNotas ">{{ nNotas }}</ion-badge>
        <ion-icon slot="icon-only" size="small" src="assets/icon/campanilla.svg"></ion-icon>
      </ion-button>

      <ion-button (click)="periodos( $event )"><ion-icon slot="icon-only" size="small" src="assets/icon/calendario.svg"></ion-icon></ion-button>
      <ion-button (click)="vistas( $event )">  <ion-icon slot="icon-only" size="small" src="assets/icon/configurar.svg"></ion-icon></ion-button>
      
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  
    <div padding class="chart-container">
      <div id="LinChart33" class="linchart"></div>
      <div id="pieChart33" class="chart"></div>
    </div>
  
    <ion-list>
  
      <ion-grid no-padding fixed class="header" (click)="OnOffTotal()" >
        <ion-row>
          <ion-col             size="4.8"><ion-label>Super-Familia / Códigos</ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label>Vta. Comercial MM$</ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label>Cantidad          </ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label>Costo Operacional </ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label>Margen Bruto      </ion-label></ion-col>
        </ion-row>
      </ion-grid>
  
      <!-- numeros y porcentajes -->
      <ion-grid no-padding fixed style=" width: inherit;" *ngIf=" vista === 'F%' || vista === 'M%' " >
        <ion-row *ngFor="let dato of rows; let i = index;" (click)="OnOff( dato )" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
          <!-- fila superior -->
          <ion-col class="ita" size="4.8"><ion-label>   {{ dato.nombre_super_familia }}    </ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_vta_neta          != 0 " [ngClass]="( dato.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_vta_neta          | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_cantidad          != 0 " [ngClass]="( dato.x_cantidad          < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_cantidad          | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_costo_operacional != 0 " [ngClass]="( dato.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_costo_operacional | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_margen_bruto      != 0 " [ngClass]="( dato.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_margen_bruto      | number:"1.0-0" }}</ion-label></ion-col>
          <!-- fila inferior -->
          <ion-col class="nch" size="4.8"><ion-label></ion-label></ion-col>
          <ion-col class="dex" size="1.8" [ngClass]="( dato.p_vta_neta          < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_vta_neta          != 0 ">{{ dato.p_vta_neta          | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.8" [ngClass]="( dato.p_cantidad          < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_cantidad          != 0 "></ion-label></ion-col>
          <ion-col class="dex" size="1.8" [ngClass]="( dato.p_costo_operacional < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_costo_operacional != 0 ">{{ dato.p_costo_operacional | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.8" [ngClass]="( dato.p_margen_bruto      < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_margen_bruto      != 0 ">{{ dato.p_margen_bruto      | number:"1.2-2" }}%</ion-label></ion-col>
          <!-- aqui iva lo extraido -->
  
          <!-- fila de marcas -->
          <ion-grid *ngIf=" dato.show " no-padding fixed class="header-in" style=" width: auto;">
            <ion-row  *ngFor="let codigo of dato.familias" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
              <!-- fila superior -->
              <ion-col class="ita" size="1.1"><ion-label><b>{{ codigo.producto    }}</b></ion-label></ion-col>
              <ion-col class="ita" size="3.7"><ion-label>   {{ codigo.descripcion }}    </ion-label></ion-col>
              <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_vta_neta          != 0 " [ngClass]="( codigo.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_vta_neta          | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_cantidad          != 0 " [ngClass]="( codigo.x_cantidad          < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_cantidad          | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_costo_operacional != 0 " [ngClass]="( codigo.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_costo_operacional | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_margen_bruto      != 0 " [ngClass]="( codigo.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_margen_bruto      | number:"1.0-0" }} </ion-label></ion-col>
              <!-- fin -->
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-grid>
      <!-- totales -->
      <ion-grid no-padding fixed class="header" style=" width: auto;" *ngIf=" vista == 'F%' || vista =='M%' ">
        <ion-row>
          <!-- primera fila -->
          <ion-col class="det" size="4.8"><ion-label>Totales</ion-label></ion-col>
          <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[0] != 0 " [ngClass]="( sumas[0] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[0] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[4] != 0 " [ngClass]="( sumas[4] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[4] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[1] != 0 " [ngClass]="( sumas[1] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[1] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[3] != 0 " [ngClass]="( sumas[3] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[3] | number:"1.0-0" }}</ion-label></ion-col>
          <!-- segunda fila -->
          <ion-col             size="4.8"><ion-label> </ion-label></ion-col>
          <ion-col class="dex" size="1.8"><ion-label ></ion-label></ion-col>
          <ion-col class="dex" size="1.8"><ion-label *ngIf=" sumasp[4] != 0 " [ngClass]="( sumasp[4] < 0) ? 'srojo' : 'snegro' "></ion-label></ion-col>
          <ion-col class="dex" size="1.8"><ion-label *ngIf=" sumasp[1] != 0 " [ngClass]="( sumasp[1] < 0) ? 'srojo' : 'snegro' ">{{ sumasp[1] | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.8"><ion-label *ngIf=" sumasp[3] != 0 " [ngClass]="( sumasp[3] < 0) ? 'srojo' : 'snegro' ">{{ sumasp[3] | number:"1.2-2" }}%</ion-label></ion-col>
        </ion-row>
      </ion-grid>
  
      <!-- numeros grandes -->
      <ion-grid no-padding fixed style=" width: inherit;" *ngIf=" vista === 'M' || vista === 'F' " >
          <ion-row  *ngFor="let dato of rows; let i = index;" (click)="OnOff( dato )" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
            <ion-col class="ita" size="4.8"><ion-label>   {{ dato.nombre_super_familia }}    </ion-label></ion-col>
            <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_vta_neta          != 0 " [ngClass]="( dato.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_vta_neta          | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_cantidad          != 0 " [ngClass]="( dato.x_cantidad          < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_cantidad          | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_costo_operacional != 0 " [ngClass]="( dato.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_costo_operacional | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_margen_bruto      != 0 " [ngClass]="( dato.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_margen_bruto      | number:"1.0-0" }}</ion-label></ion-col>
            <!-- fila de marcas -->
            <ion-grid *ngIf=" dato.show " no-padding fixed class="header-in" style=" width: auto;">
              <ion-row  *ngFor="let codigo of dato.familias" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
                <ion-col class="ita" size="1.1"><ion-label><b>{{ codigo.producto    }}</b></ion-label></ion-col>
                <ion-col class="ita" size="3.7"><ion-label>   {{ codigo.descripcion }}    </ion-label></ion-col>
                <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_vta_neta          != 0 " [ngClass]="( codigo.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_vta_neta          | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_cantidad          != 0 " [ngClass]="( codigo.x_cantidad          < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_cantidad          | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_costo_operacional != 0 " [ngClass]="( codigo.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_costo_operacional | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_margen_bruto      != 0 " [ngClass]="( codigo.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_margen_bruto      | number:"1.0-0" }}</ion-label></ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>
      </ion-grid>
      <!-- totales -->
      <ion-grid no-padding fixed class="header" style=" width: auto;" *ngIf=" vista === 'M' || vista === 'F' ">
            <ion-row>
                <ion-col class="det" size="4.8"><ion-label>Totales</ion-label></ion-col>
                <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[0] != 0 " [ngClass]="( sumas[1] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[0] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[4] != 0 " [ngClass]="( sumas[4] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[4] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[1] != 0 " [ngClass]="( sumas[1] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[1] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[3] != 0 " [ngClass]="( sumas[3] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[3] | number:"1.0-0" }}</ion-label></ion-col>
              </ion-row>
      </ion-grid>
    
      <!-- porcentajes -->
      <ion-grid no-padding fixed style=" width: inherit;" *ngIf=" vista === '%' " >
        <ion-row  *ngFor="let dato of rows; let i = index;" (click)="OnOff( dato )" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
          <ion-col             size="4"><ion-label >{{ dato.nombre_super_familia }} </ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_vta_neta          != 0 " [ngClass]="( dato.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_vta_neta          | number:"1.0-0" }} </ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_cantidad          != 0 " [ngClass]="( dato.x_cantidad          < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_cantidad          | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_costo_operacional != 0 " [ngClass]="( dato.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_costo_operacional | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="der" size="1.8"><ion-label *ngIf=" dato.x_margen_bruto      != 0 " [ngClass]="( dato.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_margen_bruto      | number:"1.2-2" }}%</ion-label></ion-col>
          <!-- fila de marcas -->
          <ion-grid *ngIf=" dato.show " no-padding fixed class="header-in" style=" width: auto;">
            <ion-row  *ngFor="let codigo of dato.familias" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
              <ion-col class="ita" size="1.2"><ion-label><b>{{ codigo.producto    }}</b></ion-label></ion-col>
              <ion-col class="ita" size="3.3"><ion-label>   {{ codigo.descripcion }}    </ion-label></ion-col>
              <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_vta_neta          != 0 " [ngClass]="( codigo.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_vta_neta          | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_cantidad          != 0 " [ngClass]="( codigo.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_cantidad          | number:"1.2-2" }}%</ion-label></ion-col>
              <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_costo_operacional != 0 " [ngClass]="( codigo.x_rebaja_de_precios < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_costo_operacional | number:"1.2-2" }}%</ion-label></ion-col>
              <ion-col class="der" size="1.8"><ion-label *ngIf=" codigo.x_margen_bruto      != 0 " [ngClass]="( codigo.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_margen_bruto      | number:"1.2-2" }}%</ion-label></ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-grid>
      <!-- totales -->
      <ion-grid no-padding fixed class="header" style=" width: auto;" *ngIf=" vista === '%' ">
            <ion-row>
                <ion-col class="det" size="4.5"><ion-label>Totales</ion-label></ion-col>
                <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[0] != 0 " [ngClass]="( sumas[0] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[0] | number:"1.0-0" }} </ion-label></ion-col>
                <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[4] != 0 " [ngClass]="( sumas[4] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[4] | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[1] != 0 " [ngClass]="( sumas[1] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[1] | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="det" size="1.8"><ion-label *ngIf=" sumas[3] != 0 " [ngClass]="( sumas[4] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[3] | number:"1.2-2" }}%</ion-label></ion-col>
              </ion-row>
      </ion-grid>
        
    </ion-list>
  
</ion-content>
