<ion-header no-border translucent>

  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reppyl"></ion-back-button>
    </ion-buttons>

    <ion-title text-center text-capitalize>
      P&L Accumulated: {{ datosParam.sigla }} - {{ nombreMes }}/{{ datosParam.periodo }} - {{ datosParam.nombre_marca }}
    </ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="notas()">
        <ion-badge *ngIf=" hayNotas ">{{ nNotas }}</ion-badge>
        <ion-icon slot="icon-only" size="small" src="assets/icon/campanilla.svg"></ion-icon>
      </ion-button>

      <ion-button (click)="periodos( $event )"><ion-icon slot="icon-only" size="small" src="assets/icon/calendario.svg"></ion-icon></ion-button>
      <ion-button (click)="vistas( $event )">  <ion-icon slot="icon-only" size="small" src="assets/icon/configurar.svg"></ion-icon></ion-button>
      
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  
    <div padding class="chart-container">
        <div id="pieChart11" class="chart"></div>
        <div id="pieChart22" class="chart"></div>
        <div id="pieChart33" class="chart"></div>
    </div>
  
    <ion-list>
  
      <ion-grid no-padding fixed class="header" (click)="OnOffTotal()" >
          <ion-row>
              <ion-col             size="1.4"><ion-label>S-Familia        </ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label>Vta. Neta     MM$</ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label>Costo Operacional</ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label>Rebaja de Precios</ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label>Margen Bruto     </ion-label></ion-col>
              <ion-col class="der" size="1.1"><ion-label>Gasto Promotores  </ion-label></ion-col>
              <ion-col class="der" size="1.1"><ion-label>Cross-Docking    </ion-label></ion-col>
              <ion-col class="der" size="1.1"><ion-label>Convenio Variable</ion-label></ion-col>
              <ion-col class="der" size="1.1"><ion-label>Convenio Fijo    </ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label>Contribución     </ion-label></ion-col>
          </ion-row>
      </ion-grid>
  
      <!-- numeros y porcentajes -->
      <ion-grid no-padding fixed style=" width: inherit;" *ngIf=" vista === 'F%' || vista === 'M%' " >
        <ion-row *ngFor="let dato of rows; let i = index;" (click)="OnOff( dato )" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
          <!-- fila superior -->
          <ion-col             size="1.5"><ion-label>{{ dato.superfam }}</ion-label></ion-col>
          <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_vta_neta          != 0 " [ngClass]="( dato.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_vta_neta          | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_costo_operacional != 0 " [ngClass]="( dato.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_costo_operacional | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_rebaja_de_precios != 0 " [ngClass]="( dato.x_rebaja_de_precios < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_rebaja_de_precios | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_margen_bruto      != 0 " [ngClass]="( dato.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_margen_bruto      | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_gasto_promotores  != 0 " [ngClass]="( dato.x_gasto_promotores  < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_gasto_promotores  | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.1"><ion-label *ngIf=" dato.x_cross_docking     != 0 " [ngClass]="( dato.x_cross_docking     < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_cross_docking     | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.1"><ion-label *ngIf=" dato.x_convenio_variable != 0 " [ngClass]="( dato.x_convenio_variable < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_convenio_variable | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.1"><ion-label *ngIf=" dato.x_convenio_fijo     != 0 " [ngClass]="( dato.x_convenio_fijo     < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_convenio_fijo     | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_contribucion      != 0 " [ngClass]="( dato.x_contribucion      < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_contribucion      | number:"1.0-0" }}</ion-label></ion-col>
          <!-- fila inferior -->
          <ion-col class="nch" size="1.5"><ion-label>{{ dato.nombre_superfam }}</ion-label></ion-col>
          <ion-col class="dex" size="1.2" [ngClass]="( dato.p_vta_neta          < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_vta_neta          != 0 ">{{ dato.p_vta_neta          | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.2" [ngClass]="( dato.p_costo_operacional < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_costo_operacional != 0 ">{{ dato.p_costo_operacional | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.2" [ngClass]="( dato.p_rebaja_de_precios < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_rebaja_de_precios != 0 ">{{ dato.p_rebaja_de_precios | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.2" [ngClass]="( dato.p_margen_bruto      < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_margen_bruto      != 0 ">{{ dato.p_margen_bruto      | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.2" [ngClass]="( dato.p_gasto_promotores  < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_gasto_promotores  != 0 ">{{ dato.p_gasto_promotores  | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.1" [ngClass]="( dato.p_cross_docking     < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_cross_docking     != 0 ">{{ dato.p_cross_docking     | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.1" [ngClass]="( dato.p_convenio_variable < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_convenio_variable != 0 ">{{ dato.p_convenio_variable | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.1" [ngClass]="( dato.p_convenio_fijo     < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_convenio_fijo     != 0 ">{{ dato.p_convenio_fijo     | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.2" [ngClass]="( dato.p_contribucion      < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" dato.p_contribucion      != 0 ">{{ dato.p_contribucion      | number:"1.2-2" }}%</ion-label></ion-col>
          <!-- aqui iva lo extraido -->
  
          <!-- fila de marcas -->
          <ion-grid *ngIf=" dato.show " no-padding fixed class="header-in" style=" width: auto;">
            <ion-row  *ngFor="let codigo of dato.familias" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
              <!-- fila superior -->
              <ion-col             size="1.5"><ion-label>{{ codigo.codigo }}</ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label *ngIf=" codigo.x_vta_neta          != 0 " [ngClass]="( codigo.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_vta_neta          | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label *ngIf=" codigo.x_costo_operacional != 0 " [ngClass]="( codigo.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_costo_operacional | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label *ngIf=" codigo.x_rebaja_de_precios != 0 " [ngClass]="( codigo.x_rebaja_de_precios < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_rebaja_de_precios | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label *ngIf=" codigo.x_margen_bruto      != 0 " [ngClass]="( codigo.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_margen_bruto      | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label *ngIf=" codigo.x_gasto_promotores  != 0 " [ngClass]="( codigo.x_gasto_promotores  < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_gasto_promotores  | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.1"><ion-label *ngIf=" codigo.x_cross_docking     != 0 " [ngClass]="( codigo.x_cross_docking     < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_cross_docking     | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.1"><ion-label *ngIf=" codigo.x_convenio_variable != 0 " [ngClass]="( codigo.x_convenio_variable < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_convenio_variable | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.1"><ion-label *ngIf=" codigo.x_convenio_fijo     != 0 " [ngClass]="( codigo.x_convenio_fijo     < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_convenio_fijo     | number:"1.0-0" }} </ion-label></ion-col>
              <ion-col class="der" size="1.2"><ion-label *ngIf=" codigo.x_contribucion      != 0 " [ngClass]="( codigo.x_contribucion      < 0) ? 'xrojo' : 'xnegro' ">{{ codigo.x_contribucion      | number:"1.0-0" }} </ion-label></ion-col>
              <!-- fila inferior -->
              <ion-col class="nch" size="1.5"><ion-label>{{ codigo.descripcion }}</ion-label></ion-col>
              <ion-col class="dex" size="1.2" [ngClass]="( codigo.p_vta_neta          < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" codigo.p_vta_neta          != 0 ">{{ codigo.p_vta_neta          | number:"1.2-2" }}%</ion-label></ion-col>
              <ion-col class="dex" size="1.2" [ngClass]="( codigo.p_costo_operacional < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" codigo.p_costo_operacional != 0 ">{{ codigo.p_costo_operacional | number:"1.2-2" }}%</ion-label></ion-col>
              <ion-col class="dex" size="1.2" [ngClass]="( codigo.p_rebaja_de_precios < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" codigo.p_rebaja_de_precios != 0 ">{{ codigo.p_rebaja_de_precios | number:"1.2-2" }}%</ion-label></ion-col>
              <ion-col class="dex" size="1.2" [ngClass]="( codigo.p_margen_bruto      < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" codigo.p_margen_bruto      != 0 ">{{ codigo.p_margen_bruto      | number:"1.2-2" }}%</ion-label></ion-col>
              <ion-col class="dex" size="1.2" [ngClass]="( codigo.p_gasto_promotores  < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" codigo.p_gasto_promotores  != 0 ">{{ codigo.p_gasto_promotores  | number:"1.2-2" }}%</ion-label></ion-col>
              <ion-col class="dex" size="1.1" [ngClass]="( codigo.p_cross_docking     < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" codigo.p_cross_docking     != 0 ">{{ codigo.p_cross_docking     | number:"1.2-2" }}%</ion-label></ion-col>
              <ion-col class="dex" size="1.1" [ngClass]="( codigo.p_convenio_variable < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" codigo.p_convenio_variable != 0 ">{{ codigo.p_convenio_variable | number:"1.2-2" }}%</ion-label></ion-col>
              <ion-col class="dex" size="1.1" [ngClass]="( codigo.p_convenio_fijo     < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" codigo.p_convenio_fijo     != 0 ">{{ codigo.p_convenio_fijo     | number:"1.2-2" }}%</ion-label></ion-col>
              <ion-col class="dex" size="1.2" [ngClass]="( codigo.p_contribucion      < 0) ? 'srojo' : 'snegro' "><ion-label *ngIf=" codigo.p_contribucion      != 0 ">{{ codigo.p_contribucion      | number:"1.2-2" }}%</ion-label></ion-col>
              <!-- fin -->
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-grid>
      <!-- totales -->
      <ion-grid no-padding fixed class="header" style=" width: auto;" *ngIf=" vista == 'F%' || vista =='M%' ">
        <ion-row>
          <!-- primera fila -->
          <ion-col class="det" size="1.5"><ion-label>Totales</ion-label></ion-col>
          <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[0] != 0 " [ngClass]="( sumas[1] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[0] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[1] != 0 " [ngClass]="( sumas[1] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[1] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[2] != 0 " [ngClass]="( sumas[2] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[2] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[3] != 0 " [ngClass]="( sumas[3] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[3] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[4] != 0 " [ngClass]="( sumas[4] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[4] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.1"><ion-label *ngIf=" sumas[5] != 0 " [ngClass]="( sumas[5] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[5] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.1"><ion-label *ngIf=" sumas[6] != 0 " [ngClass]="( sumas[6] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[6] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.1"><ion-label *ngIf=" sumas[7] != 0 " [ngClass]="( sumas[7] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[7] | number:"1.0-0" }}</ion-label></ion-col>
          <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[8] != 0 " [ngClass]="( sumas[8] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[8] | number:"1.0-0" }}</ion-label></ion-col>
          <!-- segunda fila -->
          <ion-col             size="1.5"><ion-label> </ion-label></ion-col>
          <ion-col class="dex" size="1.2"><ion-label ></ion-label></ion-col>
          <ion-col class="dex" size="1.2"><ion-label *ngIf=" sumasp[1] != 0 " [ngClass]="( sumasp[1] < 0) ? 'srojo' : 'snegro' ">{{ sumasp[1] | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.2"><ion-label *ngIf=" sumasp[2] != 0 " [ngClass]="( sumasp[2] < 0) ? 'srojo' : 'snegro' ">{{ sumasp[2] | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.2"><ion-label *ngIf=" sumasp[3] != 0 " [ngClass]="( sumasp[3] < 0) ? 'srojo' : 'snegro' ">{{ sumasp[3] | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.2"><ion-label *ngIf=" sumasp[4] != 0 " [ngClass]="( sumasp[4] < 0) ? 'srojo' : 'snegro' ">{{ sumasp[4] | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.1"><ion-label *ngIf=" sumasp[5] != 0 " [ngClass]="( sumasp[5] < 0) ? 'srojo' : 'snegro' ">{{ sumasp[5] | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.1"><ion-label *ngIf=" sumasp[6] != 0 " [ngClass]="( sumasp[6] < 0) ? 'srojo' : 'snegro' ">{{ sumasp[6] | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.1"><ion-label *ngIf=" sumasp[7] != 0 " [ngClass]="( sumasp[7] < 0) ? 'srojo' : 'snegro' ">{{ sumasp[7] | number:"1.2-2" }}%</ion-label></ion-col>
          <ion-col class="dex" size="1.2"><ion-label *ngIf=" sumasp[8] != 0 " [ngClass]="( sumasp[8] < 0) ? 'srojo' : 'snegro' ">{{ sumasp[8] | number:"1.2-2" }}%</ion-label></ion-col>
        </ion-row>
      </ion-grid>
  
      <!-- numeros grandes -->
      <ion-grid no-padding fixed style=" width: inherit;" *ngIf=" vista === 'M' || vista === 'F' " >
          <ion-row  *ngFor="let dato of rows; let i = index;" (click)="OnOff( dato )" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
            <ion-col             size="1.4"><ion-label>{{ dato.superfam }}</ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_vta_neta          != 0 " [ngClass]="( dato.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_vta_neta          | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_costo_operacional != 0 " [ngClass]="( dato.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_costo_operacional | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_rebaja_de_precios != 0 " [ngClass]="( dato.x_rebaja_de_precios < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_rebaja_de_precios | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_margen_bruto      != 0 " [ngClass]="( dato.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_margen_bruto      | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_gasto_promotores  != 0 " [ngClass]="( dato.x_gasto_promotores  < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_gasto_promotores  | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.1"><ion-label *ngIf=" dato.x_cross_docking     != 0 " [ngClass]="( dato.x_cross_docking     < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_cross_docking     | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.1"><ion-label *ngIf=" dato.x_convenio_variable != 0 " [ngClass]="( dato.x_convenio_variable < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_convenio_variable | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.1"><ion-label *ngIf=" dato.x_convenio_fijo     != 0 " [ngClass]="( dato.x_convenio_fijo     < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_convenio_fijo     | number:"1.0-0" }}</ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_contribucion      != 0 " [ngClass]="( dato.x_contribucion      < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_contribucion      | number:"1.0-0" }}</ion-label></ion-col>
            <!-- fila de marcas -->
            <ion-grid *ngIf=" dato.show " no-padding fixed class="header-in" style=" width: auto;">
              <ion-row  *ngFor="let marca of dato.marcas" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
                <!--  -->
                <ion-col class="zen" size="1.4">
                  <ion-button *ngIf=" inmerse " size="small" fill="clear" color="dark" class="boton_imnerse" (click)="clickporMarcas( marca )">{{ marca.nombre_marca }}</ion-button>
                  <ion-label  *ngIf=" !inmerse ">{{ marca.nombre_marca }}</ion-label>
                </ion-col>
                <!-- <ion-col class="zen" size="1.4"><ion-label>{{ marca.nombre_marca }} </ion-label></ion-col> -->
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_vta_neta          != 0 " [ngClass]="( marca.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_vta_neta          | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_costo_operacional != 0 " [ngClass]="( marca.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_costo_operacional | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_rebaja_de_precios != 0 " [ngClass]="( marca.x_rebaja_de_precios < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_rebaja_de_precios | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_margen_bruto      != 0 " [ngClass]="( marca.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_margen_bruto      | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_gasto_promotores  != 0 " [ngClass]="( marca.x_gasto_promotores  < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_gasto_promotores  | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.1"><ion-label *ngIf=" marca.x_cross_docking     != 0 " [ngClass]="( marca.x_cross_docking     < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_cross_docking     | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.1"><ion-label *ngIf=" marca.x_convenio_variable != 0 " [ngClass]="( marca.x_convenio_variable < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_convenio_variable | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.1"><ion-label *ngIf=" marca.x_convenio_fijo     != 0 " [ngClass]="( marca.x_convenio_fijo     < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_convenio_fijo     | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_contribucion      != 0 " [ngClass]="( marca.x_contribucion      < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_contribucion      | number:"1.0-0" }}</ion-label></ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>
        </ion-grid>
        <ion-grid no-padding fixed class="header" style=" width: auto;" *ngIf=" vista === 'M' || vista === 'F' ">
            <ion-row>
                <ion-col class="det" size="1.4"><ion-label>Totales</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[0] != 0 " [ngClass]="( sumas[1] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[0] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[1] != 0 " [ngClass]="( sumas[1] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[1] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[2] != 0 " [ngClass]="( sumas[2] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[2] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[3] != 0 " [ngClass]="( sumas[3] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[3] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[4] != 0 " [ngClass]="( sumas[4] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[4] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.1"><ion-label *ngIf=" sumas[5] != 0 " [ngClass]="( sumas[5] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[5] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.1"><ion-label *ngIf=" sumas[6] != 0 " [ngClass]="( sumas[6] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[6] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.1"><ion-label *ngIf=" sumas[7] != 0 " [ngClass]="( sumas[7] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[7] | number:"1.0-0" }}</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[8] != 0 " [ngClass]="( sumas[8] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[8] | number:"1.0-0" }}</ion-label></ion-col>
              </ion-row>
        </ion-grid>
    
        <!-- porcentajes -->
        <ion-grid no-padding fixed style=" width: inherit;" *ngIf=" vista === '%' " >
          <ion-row  *ngFor="let dato of rows; let i = index;" (click)="OnOff( dato )" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
            <ion-col             size="1.4"><ion-label >{{ dato.sigla }} </ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_vta_neta          != 0 " [ngClass]="( dato.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_vta_neta          | number:"1.0-0" }} </ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_costo_operacional != 0 " [ngClass]="( dato.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_costo_operacional | number:"1.2-2" }}%</ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_rebaja_de_precios != 0 " [ngClass]="( dato.x_rebaja_de_precios < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_rebaja_de_precios | number:"1.2-2" }}%</ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_margen_bruto      != 0 " [ngClass]="( dato.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_margen_bruto      | number:"1.2-2" }}%</ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_gasto_promotores  != 0 " [ngClass]="( dato.x_gasto_promotores  < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_gasto_promotores  | number:"1.2-2" }}%</ion-label></ion-col>
            <ion-col class="der" size="1.1"><ion-label *ngIf=" dato.x_cross_docking     != 0 " [ngClass]="( dato.x_cross_docking     < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_cross_docking     | number:"1.2-2" }}%</ion-label></ion-col>
            <ion-col class="der" size="1.1"><ion-label *ngIf=" dato.x_convenio_variable != 0 " [ngClass]="( dato.x_convenio_variable < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_convenio_variable | number:"1.2-2" }}%</ion-label></ion-col>
            <ion-col class="der" size="1.1"><ion-label *ngIf=" dato.x_convenio_fijo     != 0 " [ngClass]="( dato.x_convenio_fijo     < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_convenio_fijo     | number:"1.2-2" }}%</ion-label></ion-col>
            <ion-col class="der" size="1.2"><ion-label *ngIf=" dato.x_contribucion      != 0 " [ngClass]="( dato.x_contribucion      < 0) ? 'xrojo' : 'xnegro' ">{{ dato.x_contribucion      | number:"1.2-2" }}%</ion-label></ion-col>
            <!-- fila de marcas -->
            <ion-grid *ngIf=" dato.show " no-padding fixed class="header-in" style=" width: auto;">
              <ion-row  *ngFor="let marca of dato.marcas" [ngClass]="(i % 2 == 0) ? 'kodd' : 'keven' ">
                <ion-col class="zen" size="1.4"><ion-label>{{ marca.nombre_marca                         }} </ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_vta_neta          != 0 " [ngClass]="( marca.x_vta_neta          < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_vta_neta          | number:"1.0-0" }} </ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_costo_operacional != 0 " [ngClass]="( marca.x_costo_operacional < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_costo_operacional | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_rebaja_de_precios != 0 " [ngClass]="( marca.x_rebaja_de_precios < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_rebaja_de_precios | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_margen_bruto      != 0 " [ngClass]="( marca.x_margen_bruto      < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_margen_bruto      | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_gasto_promotores  != 0 " [ngClass]="( marca.x_gasto_promotores  < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_gasto_promotores  | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="der" size="1.1"><ion-label *ngIf=" marca.x_cross_docking     != 0 " [ngClass]="( marca.x_cross_docking     < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_cross_docking     | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="der" size="1.1"><ion-label *ngIf=" marca.x_convenio_variable != 0 " [ngClass]="( marca.x_convenio_variable < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_convenio_variable | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="der" size="1.1"><ion-label *ngIf=" marca.x_convenio_fijo     != 0 " [ngClass]="( marca.x_convenio_fijo     < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_convenio_fijo     | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="der" size="1.2"><ion-label *ngIf=" marca.x_contribucion      != 0 " [ngClass]="( marca.x_contribucion      < 0) ? 'xrojo' : 'xnegro' ">{{ marca.x_contribucion      | number:"1.2-2" }}%</ion-label></ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>
        </ion-grid>
        <!-- totales -->
        <ion-grid no-padding fixed class="header" style=" width: auto;" *ngIf=" vista === '%' ">
            <ion-row>
                <ion-col class="det" size="1.4"><ion-label>Totales</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[0] != 0 " [ngClass]="( sumas[1] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[0] | number:"1.0-0" }} </ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[1] != 0 " [ngClass]="( sumas[1] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[1] | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[2] != 0 " [ngClass]="( sumas[2] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[2] | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[3] != 0 " [ngClass]="( sumas[3] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[3] | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[4] != 0 " [ngClass]="( sumas[4] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[4] | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="det" size="1.1"><ion-label *ngIf=" sumas[5] != 0 " [ngClass]="( sumas[5] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[5] | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="det" size="1.1"><ion-label *ngIf=" sumas[6] != 0 " [ngClass]="( sumas[6] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[6] | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="det" size="1.1"><ion-label *ngIf=" sumas[7] != 0 " [ngClass]="( sumas[7] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[7] | number:"1.2-2" }}%</ion-label></ion-col>
                <ion-col class="det" size="1.2"><ion-label *ngIf=" sumas[8] != 0 " [ngClass]="( sumas[8] < 0) ? 'xrojo' : 'xnegro' ">{{ sumas[8] | number:"1.2-2" }}%</ion-label></ion-col>
              </ion-row>
        </ion-grid>
        
    </ion-list>
  
</ion-content>
