.boton_imnerse {
    height: 13px;
    font-size: calc(8px + (14 - 8) * ((100vw - 300px) / (1600 - 300)));
}

ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}

.header-in {
    font-size: 100%;
}

.header {
    background-color: burlywood;
    width: auto;
}

.keven {
    background-color: #e7c6a6;
 }

.kodd {
    background-color: #fff4ea;
}

.izq {
    text-align: left;
}

.srojo {
    color: #f04141 !important;
    font-weight: bold !important;
    font-size: 80%;
}
.snegro {
    color: #222428 !important;
    font-weight: bold !important;
    font-size: 80%;
}

.xrojo {
    color: #f04141 !important;
}
.xnegro {
    color: #222428 !important;
}

.nch {
    color: #222428 !important;
    font-weight: bold !important;
    font-size: 80%;    
    text-align: left;
    font-style: italic;
}
.der {
    text-align: right;
    font-style: italic;
}
.dex {
    margin-top: 1px;
    padding-top: 1px;
    text-align: right;
    font-style: italic;
    font-weight: bold !important;
}
.det {
    text-align: right;
    font-style: italic;
    font-weight: bold !important;
}
.der-bold {
    text-align: right;
    font-style: italic;
    // font-weight: bold !important;
}

.zen {
    text-align: center;
    font-style: italic;
}

.grafica {
    display:block;
    margin:auto;
    width: 900px;
    height: 500px;
}

.chart-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    .chart {
        height: 240px;
        width: 50%;
        min-width: 345px;
        max-width: 50%;
    }
}

ion-grid {
    font-size: calc(8px + (14 - 8) * ((100vw - 300px) / (1600 - 300)));
}

ion-grid.header {
    ion-row {
        ion-col {
            font-weight: bold;
        }
    }
}
