ion-segment-button {
    --border-style: none;
    color: var(--ion-color-primary);
}

.linea {
    border-bottom: 1px;
    margin: 3px 0;
    width: 100%;
}

.keven {
    background-color: #e7c6a6;
}
.kodd {
    background-color: #fff4ea;
}
